[2013-08-01 19:12] pixelzoom opened #1 "add instructions for how use this repo"
... like how to start the server, etc.

[2013-08-02 04:21] #1 closed, assigned to jonathanolson

[2013-11-06 17:29] samreid opened #2 "Add axon unit tests"
We should add axon unit tests to phetmarks

[2015-01-07 18:28] pixelzoom opened #3 "phetmarks should be generated, not created by copy-paste of boilerplate"
I have not been adding my sims to phetmarks, because (a) I don't use it, and (b) it's boilerplate that could be auto-generated and will be difficult to update.

I don't use it because because I am typically using combinations of query parameters (e.g., ?dev&ea) and/or sim-specific query parameters (e.g. for RPAL ?dev&ea&playAll). It's easier for me to mix and match query parameters by simply addin

[2015-01-07 19:22] jonathanolson commented on #3
I use it, and it's fairly convenient when you need to briefly test 10-15 simulations all running assertions, or to quickly jump to locations relevant to certain sims.

None of the sims I've done fully follow that pattern (including unit tests and-or a playground for testing), and common repos aren't terribly consistent. I'd encourage you to put your most commonly-run options into the file and test

[2016-02-09 22:53] phet-steele opened #4 "New phettest features"
I made these phettest feature suggestions to @jonathanolson to implement:
1. Display a red text warning near the top saying something like "There have been changes to common code since last pull, please Pull All."
2. Display something like a timestamp or latest commit (or both?) next to sim names to be able to see the last time the sim was pulled, and if another pull is needed.

[2016-02-16 18:59] jonathanolson commented on #4
Changes made, let me know if anything else is needed, or if there are any bugs.

[2016-02-22 18:32] phet-steele commented on #4
Unassigning until something comes up.

[2016-09-07 05:38] samreid commented on #2
Voila, they are here:

![image](https://cloud.githubusercontent.com/assets/679486/18300984/098cc30a-748b-11e6-837a-62e8b087d390.png)

[2016-09-07 05:38] #2 closed

[2016-10-20 16:26] samreid opened #5 "Add a link from phetmarks to launcher"
@andrewadare suggestion:

[2016-10-21 16:04] samreid commented on #5
Done above, closing.

[2016-11-07 15:56] zepumph commented on #5
@samreid I noticed that the icons weren't updated when this happened, I just changed them from:
[code]

to:

[code]

Was this purposeful for any reason, or can I update this
?

[2016-11-07 16:00] zepumph commented on #5
Sorry actually the links would be found here:
[code]

[2016-11-07 18:34] samreid commented on #5
@zepumph, yes, please fix.

[2016-11-07 18:34] zepumph commented on #5
Closing

[2016-11-07 18:34] #5 closed

[2016-11-15 05:07] jonathanolson opened #6 "Phetmarks combined launcher prototype"
Took a quick stab tonight at combining the best/desired features from phetmarks and the launcher, available at /phetmarks/testmarks.

It's designed to be keyboard-accessible and auto-complete simulation/wrapper names, along with providing custom categories for any repository. Should not need modification for the average sim added (unlike phetmarks), and should be easier to refactor in the future.

[2016-11-15 06:19] samreid commented on #6
I added some lint fixes, IIFE, etc above.

[2016-11-15 06:32] samreid commented on #6
The above commit makes the main sim query string machine schema available to testmarks.  I tried populating the UI with elements and it worked OK except they were all checkboxes.  The next step would be to map flag => checkbox, boolean => checkbox, string => text box, etc.  After that, we could segregate the phet-io query parameters into a separate schema object, and make the simulation query stri

[2016-11-15 16:11] samreid opened #7 "Testmarks should leverage Query String Machine schemas"
Instead of hard coded "copied" schemas, we should leverage the pre-existing schemas, see https://github.com/phetsims/phetmarks/issues/6#issuecomment-260559287

[2016-11-15 16:30] pixelzoom opened #8 "subdirectories in phetmarks?"
What are these subdirectories in phetmarks?  There's no documentation.

phetmarks/launcher/
phetmarks/phettest/
phetmarks/testmarks/

A line or two about what these are for would be really nice. Reference associated GitHub issue, if there is one.

Assigning to @samreid and @jonathanolson, since you created these.

[2016-11-15 16:48] samreid commented on #8
Where should this be documented?

Launcher looks like this and is poised to be replaced by testmarks:

![image](https://cloud.githubusercontent.com/assets/679486/20314782/974555c2-ab18-11e6-8c72-cdf93bf48c1d.png)

[2016-11-15 16:53] pixelzoom commented on #8
This is like asking why NumberControl needs to be documented because you can see it on the screen when you run a sim.

Document the source code.

[2016-11-15 18:16] jonathanolson commented on #8
Added info to the top-level README. If we keep testmarks (or replace phetmarks' main index with it), I'll clean up and document it as noted in https://github.com/phetsims/phetmarks/issues/6. I just don't want to polish code that might get tossed.

[2016-11-15 18:42] pixelzoom commented on #8
Thanks, but that's 2 out of 3.   No one has identified phettest.

[2016-11-15 22:30] jonathanolson commented on #8
Totally forgot that was in this repo! Documented in README.md now. I'm creating a separate 'document phettest' issue, as its documentation is lacking.

[2016-11-15 22:30] jonathanolson opened #9 "Document phettest code"
See https://github.com/phetsims/phetmarks/issues/8#issuecomment-260791205

[2016-11-15 23:03] jbphet opened #10 "lower portion of index file deleted"
Looks like something when wrong in commit https://github.com/phetsims/phetmarks/commit/fa068b6afb1d4d66b5c980f7c59dadd767b2bbd6, and the bottom portion of the index file got blown away.

[2016-11-15 23:29] pixelzoom commented on #10
Hmmm... Looks like `cat index.html | grep -v fuzz100 > index.html` went wrong.

[2016-11-15 23:31] pixelzoom commented on #10
Fixed in above commit. Also fixed incorrect (outdated) usages of `fuzzMouse` in the 'chipper' row.

@jbphet please verify.

[2016-11-16 16:08] jbphet commented on #10
Looks good to me.  Closing.

[2016-11-16 16:08] #10 closed

[2016-11-16 16:23] pixelzoom commented on #10
Indeed, I just didn't notice that I did that at the time.

[2016-11-16 23:55] pixelzoom commented on #6
Comments on launcher:

1. Label the 2 columns, so we have common terminology. The first column is obviously "Repositories". The second column is what? "Tests"?

2. Most of what's in the second column is great big '?' for me. And I don't relish having to root reading source code to figure out what they are.  Could we get a description of each test by mousing over them?

3. Instead of a "Show Pointe

[2016-11-16 23:57] pixelzoom commented on #6
Whoops... Looks like I'm testing the wrong thing, I should be testing testmarks.

[2016-11-17 00:13] pixelzoom commented on #6
Feedback on testMarks:

1. The second column is a weird mix of tests and convenience function (GitHub, Issues). Recommended to remove "GitHub" and "Issues", and add a "GitHub" button next to "Launch".

2. "Issues" is of questionable value, since you can get there with 1 click from "GitHub".

3. I'm guessing that "Compiled" is the same as "Built".  Why the new terminology?

4.  With "Require.js" an

[2016-11-17 00:27] pixelzoom commented on #6
8. If a query parameter (e.g. fuzzMouse) is checked and included in the "Custom:" field, then QueryStringMachine fails with "Uncaught Error: Parameter supplied multiple times(…)"

[2016-11-17 01:15] jonathanolson commented on #6
This would prevent the use case of:

1. Select a repository on the left (e.g. start typing, 'molecule-sha' => molecule-shapes).
2. Move to the next list (tab, currently two times), and select GitHub (e.g. by typing "git").
3. Hit enter to launch the intended URL (in this case, to GitHub).

Currently, launching a sim with require.js and launching its GitHub page are both just "open URL" actions, an

[2016-11-17 01:26] pixelzoom commented on #6
@jonathanolson Thanks for the clarification.

I just wanted to point out that moving GitHub to a button wouldn't preclude fast navigation. It would just be a different navigation than what you described: select repo, tab a few times to GitHub button.

And you should definitely solicit input from developers who have been using phetmarks.  I don't use phetmarks, and I'm honestly unlikely to use this

[2016-11-17 01:30] samreid commented on #6
I also prefer to leave "GitHub" in the list of "actions", so that it is keyboard navigable using the strategy @jonathanolson mentioned.

[2016-11-17 01:30] pixelzoom commented on #6
If you mean text that describes the mode, then yes.

Lauch is an action. Things in the 2nd column are the arguments for that action.

Sounds nontrivial.  Would you display only the query parameters in initialized-globals.js, or would you include sim-specific query parameters too?

[2016-11-17 01:34] samreid commented on #6
Actions: "launch in **requirejs**", "open in **GitHub**", "show the GitHub **issues**", "launch with the **instance proxies** wrapper", "launch the **Compiled** version", etc.

Yes, the text that describes the action/mode.

We would standardize on the location and naming of the sim specific query parameter schema, and include it.

[2016-11-17 01:34] pixelzoom commented on #6
( type:'string' || type:'number' ) && validValues => combo box
type:'string' && !validValues => textfield
type:'number' && !validValues => spinner
initialize all of the above using defaultValues
...

Like I said... nontrivial.

[2016-11-17 01:36] samreid commented on #6
Simpler:

validValues => radio buttons
flag => checkbox
boolean => checkbox
string => text area

That would get us pretty far.

[2016-11-17 01:37] pixelzoom commented on #6
All of these are `action preposition noun` or `action noun`, where action in all cases is `launch`.  I see no argument for labeling the second column "Actions".

[2016-11-17 01:38] pixelzoom commented on #6
How is using radio buttons for valid values simpler than using a check box? And it takes up way more real estate.

[2016-11-17 01:41] samreid commented on #6
Good point!  I'm fine with "modes" or the likes.

I suppose you meant combo box.  I'm fine with either one, but prefer the "see all of the options at once and be able to click them right away" nature of the radio buttons, at least for development tools.  I reserve the right to change my vote after seeing it look awkward.  If there are >4 radio buttons or so, we could fallback to combo box.

[2016-11-17 01:45] pixelzoom commented on #6
It sounds like tab navigation is important to you. So keep in mind that using radio buttons will potentially require more tabs to get to the query parameter that you're interested in.  You'll need to tab past N radio buttons (where N is the number of valid values) versus 1 combo box.

[2016-11-17 01:47] samreid commented on #6
I'm interested in keyboard accessibility for the first two columns, being able to press "enter" to launch, and having it remember my settings.  I don't imagine tabbing through a lot of query parameters, I would use the mouse for that.

[2016-11-17 17:55] jonathanolson commented on #6
Recommend changes:

1. Add descriptions for each column (repositories, "modes"? and query parameters)
2. Add descriptions for each mode (on hover)
3. Change "Custom:" to "Query parameters:" and increase the text box length.
4. Move GitHub and Issues in front of phet-io wrappers.
5. Add a 'screens' query parameter, but have radio buttons, with "all" and 6 screen-specific options.

[2016-11-18 00:12] jonathanolson commented on #6
Resolved the above changes, and just pushed changes to replace the main 'phetmarks'.

Closing, will create issues for documentation and code improvement.

[2016-11-18 00:12] #6 closed

[2016-11-18 00:13] jonathanolson opened #11 "Clean up js/phetmarks.js"
It was written as a prototype, and should be cleaned up and documented.

[2016-11-18 03:53] jonathanolson commented on #11
Did a lot of cleanup, and fully reorganized the view.

Separated things into some class-like objects (repository/mode/screen/queryParameter selectors) which expose DOM element(s) and functions to get their current values.

I'm not really sure what standard to hold it up to. Maybe using require.js to grab phet-core (inherit!) and actually making them typed objects would be an improvement, if it doe

[2016-11-19 05:21] samreid commented on #7
This shows a checkbox for everything in the initialize-globals schema:

![image](https://cloud.githubusercontent.com/assets/679486/20453299/8aa7ab5a-addc-11e6-9e3d-a73cb43abf1a.png)

If we are going to leverage schemas, we would want to do the following at a minimum:
1. Add documentation fields into the schemas, so it can be presented.
2. Add flags into the schema to identify which should be shown

[2016-11-19 05:23] samreid commented on #7
Here's my working copy that was used to generate the image above:

[code]

[2016-11-20 05:08] samreid commented on #8
I removed the launcher subdirectory, it is superceded by phetmarks.  Other subdirectories are documented in README.md or their source code.

[2016-11-20 05:08] #8 closed

[2016-11-22 00:18] zepumph commented on #11
I don't know if this is the best place for this, but I found a bug while using the new phetmarks. Given this launch:
![image](https://cloud.githubusercontent.com/assets/6856943/20506038/5ed6f77c-b00e-11e6-924e-03686acd6018.png)

I got this url:
http://localhost:8080/phet-io/wrappers/lab-book/lab-book.html?sim=beers-law-lab?ea

With two '?'

[2016-11-22 01:53] jonathanolson commented on #11
@zepumph, I believe I fixed that bug in the above commit.

[2016-12-05 21:36] pixelzoom opened #12 "where should the list of phet-io sims live?"
Over in https://github.com/phetsims/phet-io/issues/645, we recognized that phet-io instrumentation is not getting adequate regression testing.  Contributing to that is the fact that many of us (myself included) don't know which sims have been instrumented, or what the status of instrumentation is.

As a step in the right direction, @jonathanolson added a nifty option to phetmarks for testing sims

[2016-12-05 22:46] jonathanolson commented on #12
Sounds good to me.

[2016-12-07 17:23] samreid commented on #11
I haven't looked at the code yet, but had two recommendations:

1) Make the sim scrolling list smaller (such as 600px tall) or make it autoscroll so the selected item is visible. Often I will open it and it looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/20977569/3e604744-bc63-11e6-9619-f00f039752c0.png)

So that I cannot see what sim is selected.

2) The PhET-iO wrapp

[2016-12-07 22:40] jonathanolson commented on #11
Bleh, it's supposed to auto-scroll. I can look into it.

Or we could just not have the brand=phet query parameter checkbox included in those?

[2016-12-07 23:06] samreid commented on #11
Excellent, thanks!

[2016-12-08 17:06] samreid commented on #12
Yes, a list in chipper seems best.

[2016-12-08 17:17] jessegreenberg commented on #12
That sounds good.  I also really like the test PhET-iO option in phetmarks.  I recently broke something in PhET-iO by modifying common code because I didn't know how to test PhET-iO features.

[2016-12-08 19:46] pixelzoom commented on #12
12/8/16 consensus: @jonathanolson will move the the list from phetmarks.js to a file in `chipper/data/test-phetio`.  This will be the list of sims that should be regression tested for PhET-iO.

[2016-12-08 23:05] jonathanolson commented on #12
Done.

[2016-12-08 23:05] #12 closed

[2016-12-09 03:24] samreid commented on #11
Reassigned to @jonathanolson for a bit.

[2016-12-09 03:50] samreid commented on #11
On second thought, I'll keep this as a review issue and open a separate one for the auto-scroll.

[2016-12-09 03:52] samreid opened #13 "Selected sim is offscreen"
In https://github.com/phetsims/phetmarks/issues/11#issuecomment-265511994 @samreid said:

1) Make the sim scrolling list smaller (such as 600px tall) or make it autoscroll so the selected item is visible. Often I will open it and it looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/20977569/3e604744-bc63-11e6-9619-f00f039752c0.png)

So that I cannot see what sim is selec

[2016-12-12 05:14] samreid commented on #11
Generally, it is looking very nice and a significant improvement over previous static phetmarks.  Some parts are a bit difficult for me to read.  I'm not sure if it would help more to add documentation or split it up differently:

[code]

I'm also wondering if it is necessary/preferable to populate the `modeData` object on startup, or change things to dynamically get the modes for each repository

[2016-12-12 18:26] jonathanolson commented on #11
I believe all of the changes have been made, with the two exceptions:

That sounds possible (URL, description and matchesRepo would need to change). We'd need it in the populate function, since it depends on knowing which sims are in phet-io, etc.

Might make it harder to identify when modes have the same repos, and functions add a bit of visual overhead.

I don't have a strong preference.

Popula

[2016-12-15 00:36] samreid commented on #11
Thanks for making the changes!  I added checkboxes in my prior comment and there are a few items that could still use your help.  Regarding https://github.com/phetsims/phetmarks/issues/11#issuecomment-266510064 I'm fine to leave it as it is.

[2016-12-15 17:10] jonathanolson commented on #11
I'm a bit confused, the unselected checkboxes:

[code]

[code]

Can you clarify what recommended changes are left?

[2016-12-18 03:53] samreid commented on #11
It looks like you already did this, but I missed it.  Thanks, it is checked off now!

After getting more familiar with this code, I don't think documentation is need for that code block.  I'll check it off.

[2016-12-18 03:54] samreid commented on #11
All set here, thanks @jonathanolson!  Closing.

[2016-12-18 03:54] #11 closed

[2017-02-02 21:08] jonathanolson commented on #13
I think this is fixed, can you test? (incognito is great here, sometimes it caches the JS still when reloading).

[2017-02-02 21:12] samreid commented on #13
It is fixed now, thanks @jonathanolson!

[2017-02-02 21:12] #13 closed

[2017-02-03 00:54] jonathanolson opened #14 "Try continuous-server highlighting in phetmarks"
Do a single API request to bayes, and highlight sims that have failed tests.

Should help (a) make sure continuous testing is working, (b) notify dev team of what's broken without emails.

[2017-04-12 16:11] zepumph opened #15 "branch: exileWrappers"
Used for https://github.com/phetsims/phet-io/issues/1031 and can be removed when 1031 is closed.

[2017-04-24 22:43] zepumph commented on #15
https://github.com/phetsims/phet-io/issues/1031 is winding down and all is merged into master. Closing.

[2017-04-24 22:43] #15 closed

[2017-06-08 19:13] jonathanolson opened #16 "Don't save non-repo state"
Still save which repo is active, but don't make the other options saved (since they usually are temporary).

[2017-06-08 19:13] #16 closed

[2017-06-23 21:01] zepumph opened #17 "Add the Compliled index link to phet-io sims"

[2017-06-25 18:59] #17 closed

[2017-08-25 20:44] phet-steele commented on #4
What does this even mean @phet-steele? Why didn't you just close this @phet-steele? @jonathanolson did a great job after all.

[2017-08-25 20:44] #4 closed

[2017-08-25 21:16] phet-steele opened #18 "Let's index common repos on phettest!"
There are two things I'd like to rectify on phettest:
1. Some common code repos have runnable demos I'd like easy access to.
2. Currently, the only way to pull common code changes is to pull-all. This is no fun; common code repos should each have their own pull button.

@jonathanolson which is easier?:

1. Index by acitve-runnables instead of active-sims. Then take the remaining common code repos

[2017-08-27 03:41] jonathanolson commented on #18
Either (1) or (2) works fine. Could even have everything in one list. What's your preference?

That's a lot of common code repos (which will probably be accessed less than sims). Sure you want that above the sim/runnables section?

Also, would it be best to list all out-of-date repos at the top?

[2017-08-28 16:49] phet-steele commented on #18
I'd prefer 2. I'd still like their up-to-date checking to be asynchronous with sims, so it might look better to have that "?" cascade be separated.

I only wanted them above runnables so that they are easily glanced at if they are out-of-date or not. I suppose if we go with my last point about the changes to the "Out of date common repos" message, then we could put the common code repos below. As

[2017-09-20 01:28] zepumph opened #19 "add documentation wrapper to phetmarks"
It would be nice to have this wrapper added for issues like https://github.com/phetsims/phet-io/issues/1197, it would make them much easier. This doesn't mean it should be in the `chipper/data/wrappers` file because it shouldn't be published with phet-io sim releases.

[2017-09-20 01:53] #19 closed

[2017-09-22 12:17] jessegreenberg opened #20 "add a11y-view wrapper to phetmarks sim modes"
Would be really convenient if we could launch the a11y-view wrapper from phetmarks.

[2017-09-22 12:30] jessegreenberg commented on #20
I think I did this right, @zepumph can you please check me?

[2017-09-22 17:00] zepumph commented on #20
That looks very nice. Good addition.

[2017-09-28 22:56] zepumph commented on #20
Actually I just saw a nice feature. Currently there is no phet brand default option, so you have to type it manually. It would be nice if it were automatic. I'll take a look.

[2017-09-28 22:59] zepumph commented on #20
Fixed I am now loading the a11y view with default phet brand and `ea`. Tagging @jessegreenberg so that he is aware of the change.  Closing

[2017-09-28 22:59] #20 closed

[2017-09-28 23:00] jessegreenberg commented on #20
Thanks!

[2017-10-15 02:12] zepumph opened #21 "Add a general test button that can launch multiple windows"
I use phetmarks often to test changes that I made to code. I find myself running three or more links each time that I tweak something just to make sure that I didn't break anything. Then I started to think that it may be nice to just have a button that can run this general testing for me, by launching fuzz tests and some unit tests each in a new window (so that the javascript will run).

I think a

[2017-10-17 22:08] zepumph commented on #21
I reverted adding the phet-io api tests to the general test because it doubles the number of iframes trying to run in the single popup window, and it makes fuzz loading so slow that it takes most of 10 seconds to load the sim, let alone fuzz it for errors.

[2017-10-17 23:30] zepumph commented on #21
It seems to be a nice feature for now. I will leave this open for now to see how people like it, or if they want to improve it in any way.

[2017-10-30 22:31] zepumph commented on #21
This isn't as good as I thought it would be. It bogs down test-server to have so many iframes in one window, and scenery unit tests fail in the popup. I'm going to remove it. We will still have to commits here if we decide to come back to it.

[2017-10-30 22:35] #21 closed

[2018-01-11 16:46] phet-steele commented on #18
I did:

in 54ae09da674b56a1abd9778d230767b99bcb6035. I didn't discriminate between common repos that have runnables and those that don't. So this would still be good to achieve:

[2018-01-25 21:16] jessegreenberg opened #22 "link to a11y view uses old id naming scheme"

[2018-01-25 22:02] jessegreenberg commented on #22
Fixed in above commit.

[2018-01-25 22:02] #22 closed

[2018-02-08 18:03] pixelzoom opened #23 "branch: chipper-2.0"
Identified by `print-branches.sh`. @jonathanolson please describe.

[2018-03-31 22:06] zepumph opened #24 "add an aqua test for just a11y sims, with accessibility flag enabled <eom/>"
From https://github.com/phetsims/scenery/issues/748

[2018-04-05 18:40] zepumph commented on #24
Tagging @mbarlow12 and @jessegreenberg so that they know that now in the `aqua` section of phetmarks you can now fuzzMouse and fuzzBoard just a11y sims (defaults to just a11y sims fuzzMouse). @jessegreenberg please review.

[2018-04-05 18:45] jonathanolson commented on #24
Would we want testing like this in continuous testing?

[2018-04-05 19:05] zepumph commented on #24
Although fuzzBoard option (second two query parameters checked) is likely broken for every sim, I think it is worth adding it so we can fix these problems. The fuzzMouse for specific a11y sims with `?accessibility` would be very good to add (first and third query parameters together).

[2018-04-05 19:31] jessegreenberg commented on #24
Sorry, this might be because of local  copy changes -  I am investigating.

[2018-04-05 20:46] zepumph commented on #24
@jonathanolson I will let you know when the keyboard fuzzer is ready for CT, for now please add the following link (adapted for CT)

http://localhost/aqua/test-server/test-sims.html?ea&audioVolume=0&testDuration=10000&testConcurrentBuilds=4&brand=phet&fuzzMouse&accessibility&testSims=area-model-introduction,balloons-and-static-electricity,build-an-atom,coulombs-law,friction,gravity-force-lab-basic

[2018-04-05 22:05] zepumph commented on #24
Where the list of testsims is dynamically the list of a11y sims (sorry I'm not being clear). Assigning to @jonathanolson

[2018-04-09 22:00] jonathanolson commented on #24
We actually don't run test-sims.html at all from CT, and I'm not aware of support for that to work.

Can I instead add the `?accessibility` query parameter to the a11y sims (anything listed in perennial/data/accessibility), and have that be a separate testable mode for those sims? Would it need other query parameters or annotations?

[2018-04-10 16:18] zepumph commented on #24
That will be great! No other query params needed at this time (except fuzzMouse of course). Separate testable mode seems very nice.

Thank you.

[2018-04-10 17:25] jonathanolson commented on #24
Automated testing with the ?accessibility flag has been added to continuous testing, and is live.

[2018-04-10 17:42] jessegreenberg commented on #24
Thanks @jonathanolson! @zepumph is anything else needed for this issue?

[2018-04-10 17:58] zepumph commented on #24
Nope all is good. Once we get fuzzBoard more stable, we will have @jonathanolson add that too, but that will be some time, since it's a pretty low priority I think. Closing

[2018-04-10 17:58] #24 closed

[2018-09-05 19:52] KatieWoe opened #25 "phettest builds are failing"
When using phettest build it shows a failed error.
Log on Turring reads
[code]
Wondering if this could be related to https://github.com/phetsims/joist/issues/519

[2018-09-06 00:54] jonathanolson commented on #25
I did some cleanup of repos, `npm config set save false` so we don't run into other issues, and fully updated/pruned npm dependencies for active repos (still finishing up, alphabetically on 'G').

Building seems to be working now. Can you verify?

[2018-09-06 14:32] KatieWoe commented on #25
Just tested it on dc construction kit.  It no longer says failed.  However, when I click the built version link after it stops saying running, I get a 404 error.  I may be misunderstanding how it works, as I've never really used build before.  Any help you can give me would be appreciated.

[2018-09-06 15:13] jonathanolson commented on #25
It's probably mostly that it hasn't been updated as part of chipper 2.0, so it has the wrong paths (and is building adapted-from-phet brand). I'll want to fix it up first.

[2018-09-06 15:29] KatieWoe commented on #25
Just tested on acid base solutions and it seems to be working great!

[2018-09-06 15:30] #25 closed

[2018-09-10 19:08] KatieWoe opened #26 "Phet Dev (HTML) and (Java/Flash) links are broken"
On Phettest the dev links on sims and the Phet Dev (HTML) and Phet Dev (Java/Flash) links do not lead to the proper urls.
Found during https://github.com/phetsims/QA/issues/184

[2018-09-13 01:27] jonathanolson commented on #26
Should have been fixed above, can you verify?

[2018-09-13 14:30] KatieWoe commented on #26
Looks good.  Should I close?

[2018-09-13 14:55] jonathanolson commented on #26
Sure, closing.

[2018-09-13 14:55] #26 closed

[2018-10-11 17:31] samreid opened #27 "Keyboard navigation is buggy"
Typing the name of a repo, then typing the mode name and pressing enter can launch the mode with the wrong query parameters.  (Using arrow keys or mouse is fine though).  @chrisklus volunteered to investigate.

[2018-10-11 17:36] chrisklus commented on #27
@samreid and I found that changing the `addEventListener()` type from 'input' to 'change' listens mouse clicks, arrow keys, and letter keys. Closing.

[2018-10-11 17:36] #27 closed

[2018-10-25 04:02] pixelzoom opened #28 "bug fixes for phet-io related query parameter options"
Should `phetioValidateTandems` be added as a query parameter checkbox in phetmarks? It seems like it's as important as `ea` for PhET-iO testing, and I seem to be adding it manually a lot since the default changed to false.

See also https://github.com/phetsims/phet-io/issues/1402, proposal to change the type to `flag`.

[2018-12-04 17:19] pixelzoom opened #29 "add PhET-iO standalone mode to phetmarks"
Please add a standalone "Mode" to phetmarks, so that a PhET-iO sim can be run standalone without having to navigate to the index wrapper, or use some other indirect workaround.

[2018-12-04 18:33] jonathanolson commented on #29
So to clarify, run it with `?brand=phet-io&phetioStandalone&ea` presumably? (like the console colorized phetmark but without the console logging stuff)

[2018-12-04 18:40] pixelzoom commented on #29
I think it would be `?brand=phet-io&phetioStandalone`.  Wouldn't `ea` would be determined by settings in "Query Parameters" panel?

[2018-12-04 18:41] pixelzoom commented on #29
I confirmed that `console: colorized` mode does not automatically add `ea`, it's dependent on whether "Queary Parameters" `ea` checkbox is checked.

[2018-12-05 05:54] samreid commented on #28
Added and tested, @zepumph can you please review?

[2018-12-06 02:05] pixelzoom commented on #29
👍

[2018-12-06 02:05] #29 closed

[2018-12-13 00:10] zepumph commented on #28
Your commit is good. Perhaps this should default to be on in phetmarks? What do people think? I could go either way. You could always get to the non default validate tandems through the index.

[2018-12-13 13:39] samreid commented on #28
@pixelzoom what do you recommend for default?

[2018-12-13 19:18] pixelzoom commented on #28
It probably makes sense to use the same default as `ea`.

Also wondering.... Longterm, do we really need/want `phetioValidateTandems`?  Or should it just be done when assertion are enabled via `ea`?

[2018-12-21 20:23] zepumph commented on #28
I will take this over. Currently we add phetioValidateTandems to phet branded links just because it is a phet-io sim. I'll see what I can do.

[2019-01-10 22:33] zepumph commented on #28
There are quite a few issues with `phetioValidateTandems` and `phetioDebug` to sort out in phetmarks:
1. Neither of these should ever be an option unless it is a phet-io branded mode (right now `phetioValidateTandems` is by default added to normal phet brand.
2. phetioDebug should not be available unless your mode is a wrapper, and if it is a wrapper this option should be on by default.
3. `ea` sh

[2019-01-17 01:19] zepumph opened #30 "Add optgroups for modes"
With phet-io I think there are too many modes, it is hard to find what is desired, but I think we should be able to work out a way to add `optgroup` tags to the selector to have categories in the modes. I'm going to experiment a bit and see what people think.

[2019-01-17 01:22] zepumph commented on #30
Implemented above.

[2019-01-17 02:11] zepumph commented on #28
All implemented above.

[2019-01-17 02:11] #28 closed

[2019-01-17 02:11] zepumph opened #31 "Support boolean parameters in phetmarks"

[2019-01-17 02:22] zepumph commented on #31
Added above. @chrisklus would you like to review??

[2019-01-17 02:44] chrisklus commented on #31
Looks really good @zepumph! The base phet-io query params vs sim vs wrapper make sense to me and are working as expected, as well as the boolean params.

[code]

This makes sense to me but `'boolean'` seemed a little weird at first, is this how we notate string booleans?

[2019-01-17 16:47] zepumph commented on #31
This is how we annotate the `type` for query parameters, like here from `initialize-globals.js`

[code]

[2019-01-17 16:58] #31 closed

[2019-04-23 23:07] KatieWoe opened #32 "phettest fails builds"
When trying to build a sim off of phettest, the build fails and
[code]
appears in the console.

[2019-04-24 00:04] zepumph commented on #32
I am not able to figure this one out. When trying to test this locally. I get the following error that crashes the server:

[code]

Which is one of the most vague errors to be found within Node.js. I added an 'on error' callback so that it wouldn't crash the server. Pull and other commands work just find, but when I try to `npm update` the execute call fails.

[2019-04-24 15:11] KatieWoe commented on #32
Not sure if this will be helpful:
I attempted the general troubleshooting for Turing listed in the QA book.  I then tried a build which failed.  Turing's terminal looked like this when I did:
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/56670874-d7899880-6670-11e9-9c24-6801c603eb79.jpg)

[2019-04-24 15:44] zepumph commented on #32
ahh that is lovely thanks! I `ssh`ed to phettest, ran `cd chipper && npm install` and builds work now. I also made sure that builds run npm update in chipper from here on. @KatieWoe please confirm builds work for you now.

[2019-04-24 15:49] KatieWoe commented on #32
@zepumph builds do seem to work.  Thanks!

[2019-05-21 15:41] KatieWoe commented on #32
Builds on phettest are failing again.

[2019-05-21 17:48] KatieWoe commented on #32
Closing due to CT issue

[2019-05-21 17:48] #32 closed

[2019-06-15 22:22] pixelzoom opened #33 "add "LoL harness" to phetmarks?"
Would it be possible to add "LoL harness" to the **Modes** list in phetmarks?   This would come in handy when working on issues like https://github.com/phetsims/ph-scale/issues/81 and https://github.com/phetsims/ph-scale/issues/88.

[2019-06-15 22:23] pixelzoom commented on #33
There's apparently also a `legendsOfLearning` query parameter that would be nice to add to **Query Parameters** list.

[2019-06-20 04:57] samreid commented on #33
If we add a phetmarks link to LOL, it will probably include the Query Parameter for the iframe part of the URL.  That seems sufficient, I don't think a separate entry for `legendsOfLearning` query parameter by itself would be too useful.

[2019-06-27 15:13] jessegreenberg commented on #33
It looks like the url query parameter puts the right source url in their test harness
http://developers.legendsoflearning.com/public-harness/index.html?url=http://localhost:8080/energy-skate-park/energy-skate-park_en.html?brand=phet%26ea%26legendsOfLearning

[2019-06-27 20:06] jessegreenberg commented on #33
I added a Legends of Learning mode in the above commit with `brand=phet` and `ea`. We could support user selected query parameters too, but I didn't see a quick way to do this and I wasn't sure if it was necessary for legends of learning testing.

[2019-07-25 18:39] pixelzoom commented on #33
7/25/19 dev meeting:

No need to support additional query parameters via phetmarks.  The typical use case is simply to run the LoL harness.  If you need additional query parameters, add them manually.  Closing.

[2019-07-25 18:39] #33 closed

[2019-10-02 23:17] zepumph opened #34 "Add dedicated wrapper repos to phetmarks"
This would be pretty straightforward to read from package.phet.phet-io.wrappers if there was a convention for what the runnable was called and where it was located in each dedicated repo. @samreid @chrisklus do you think it is worth the effort to make this consistent?

Then classroom-activity could be in only FAMB, and hookes-law-energy could be only in Hookes law.

[2019-10-03 17:31] samreid commented on #34
This seems to be a nice enhancement, would be good for long term to make it easier for everyone to use.  Medium priority?

[2019-10-03 18:42] zepumph commented on #34
Sure. What do you think our convention for filenaming should be. Top level {{wrapper}}.html where wrapper is the repo but doesn't include "phet-io-wrapper-"?

[2019-10-07 14:40] samreid commented on #34
Are they currently named `phet-io-wrapper-{{name}}/index.html`?  What all will have to change?

[2019-10-07 17:07] zepumph commented on #34
Yes yes that's right. I think that's true and good. The haptics wrapper doesn't have that though, and could use a top level index page pointing to its runnables. Let's say every dedicated wrapper repo needs a top level index page.

[2019-11-14 20:12] zepumph opened #35 "Add support for boolean query parameters"
From phetsims/chipper#541. Right now we only support flags. Which makes the cacheBust quite strange:

![image](https://user-images.githubusercontent.com/6856943/68892480-9bcb2480-06cf-11ea-90a6-b3eb6865c643.png)

Ideally if the checkbox wasn't checked, then it would have `cacheBust=false`, and if it was checked then the query string would have `cacheBust=true`.

[2020-01-23 17:27] pixelzoom opened #36 "add ability to turn off sound via phetmarks"
As more sound support is being added, having sound on by default is a bit annoying, and has resulted in me making sound in inappropriate settings lately.

We could add the `sound` query parameter to the "Query Parameters" section of phetmarks.  It would need to be a radio button group, not a checkbox:

[code]

Even better (easier?) would be if we could provide query parameters in the phetmarks URL

[2020-01-23 17:36] ariel-phet commented on #36
I have also found myself turning off sound when doing testing, this seems like a potentially quick fix, so marking as high priority.

[2020-01-23 19:04] pixelzoom commented on #36
On second thought.... Having to select a radio button in phetmarks isn't any easier than having to click the sound button in the sim's navigation bar after it starts up.   So pass-through query parameters would be the preferred solution.

[2020-01-23 19:41] samreid commented on #36
We discuss the passthrough regarding cache busting in this issue: https://github.com/phetsims/chipper/issues/541#issuecomment-554058613

[2020-01-23 19:45] pixelzoom commented on #36
1/23/20 dev meeting:

Pass-through query parameters would be best. I'll self-assign and investigate. If it's more than 1 hour of work, I'll likely punt and just use the sound button in the sim's navigation bar.

[2020-01-23 19:48] samreid commented on #36
Does this patch implement passthrough correctly?

[code]

[2020-01-24 00:50] pixelzoom commented on #36
Nope, that patch doesn't do the job.  It can result in pass-through where query parameters are repeated, which is not allowed by QueryStringMachine.

For example, if I launch `.../phetmarks/?screens=3`, then select screen "2" in the Query Parameters section of phetmarks, my sim will be launched with this URL:

`.../acid-base-solutions_en.html?screens=3&brand=phet&ea&screens=2`

which results in th

[2020-01-24 01:11] pixelzoom commented on #36
Here's the relevant function in phetmarks.js:

[code]

`queryParameters` is a string for what's set in the "Query Parameter" section of the  phetmarks UI. E.g. `brand=phet&ea&screens=2` in my example above.

`window.location.search` (as @samreid pointed out above) is a string containing the query parameters part of the URL that was used to run phetmarks.  E.g. `?screens=3` in my example above.

I'

[2020-01-24 03:15] samreid commented on #36
With the patch, `http://localhost/phetmarks/?sound=muted` would mute all links, and could not conflict with values specified in the UI, since there is no UI control for `?sound`.  Would this not be an improvement to your workflow?  If not, why not?

[2020-01-24 03:48] pixelzoom commented on #36
Implementing pass-through query parameters clearly has general problems. And I'm not going to be the one to add a hack/landmine just to support my workflow.

[2020-01-24 05:05] samreid commented on #36
How about this compromise?  If the user specifies a query string in the studio URL, then the other UI elements for setting query parameters are not shown?  It's basically saying "I'm taking query parameters into my own hands".  It would look like this:

![image](https://user-images.githubusercontent.com/679486/73045196-2d6eb500-3e2a-11ea-9b20-5660cdafabbe.png)

Here's a first draft patch that acco

[2020-01-24 19:17] pixelzoom commented on #36
While I appreciate the attempt to make this work, this still feels like a hack. The correct solution is to make phetmarks set "Query Parameters" based on `window.location.search`, not totally remove that part of the UI.   And I reply heavily on the "Query Parameters" section when testing phet-io, especially Studio.   So if I'd need to either set up multiple book marks for phetmark, or have a diffe

[2020-01-26 19:20] ariel-phet commented on #36
@pixelzoom could you close this issue and open a new one that is something to the effect of "improvements to query parameters UI and handling in phetmarks"? Just put your thoughts in as to potential future improvements.

This would be future work, but it might be something worth chipping away at, as I feel like our phetmarks bare-bones UI is the first stepping stone to what we eventually want for

[2020-01-28 16:58] pixelzoom opened #37 "improve phetmarks support for query parameters"
In https://github.com/phetsims/phetmarks/issues/36#issuecomment-578533767, @ariel-phet requested:

* Add support for pass-through query parameters. These should take precedence over the defaults in the "Query Parameters" section, setting the values in that section. They should be passed to the runnable (sim).

* Improve the "Query Parameters" section UI.  This is currently a hodgepodge of checkbox

[2020-01-28 17:05] pixelzoom commented on #36
https://github.com/phetsims/phetmarks/issues/37

Thanks, I might make use of that. If I mute http://localhost/~cmalley/GitHub, all sims run from my working copy are muted.  My concern with using that as a general solution is that someone (like me:) may forget that they've muted a site, and think that sound is broken. And the indicator in Chrome is not very obvious, see tiny icon at right end of UR

[2020-01-28 17:05] #36 closed

[2020-01-28 17:08] pixelzoom commented on #37
#35 is related to this issue.

[2020-01-28 17:09] pixelzoom commented on #35
Moved to #37. Closing.

[2020-01-28 17:09] #35 closed

[2020-01-28 17:10] pixelzoom commented on #7
This is probably referring to phetmarks, so I'll change the title.

[2020-01-28 17:10] pixelzoom commented on #37
#7 is related to this issue.

[2020-01-28 17:40] jonathanolson commented on #3
This is dynamically generated now, closing.

[2020-01-28 17:40] #3 closed

[2020-02-03 17:43] pixelzoom opened #38 "phetmarks PhET-iO modes use different names than index wrapper"
Chris Malley  10:34 AM
Is there a reason why many of the PhET-iO "Modes" in phetmarks have entirely different names, and are in a different order, than the presentation in the index wrapper?  Could we please use the same names (and capitalization, and maybe even order) in both places?

For example... "console: colorized" (phetmarks) vs "Data: colorized" (index); "data-stream" vs "Data: text-area";

[2020-02-03 17:47] pixelzoom commented on #38
Here's the current state of things. phetmarks on the left, index wrapper on the right.

<img width="199" alt="screenshot_79" src="https://user-images.githubusercontent.com/3046552/73676942-846a5a80-4672-11ea-9cef-43f043499daa.png"><img width="159" alt="screenshot_80" src="https://user-images.githubusercontent.com/3046552/73676946-86ccb480-4672-11ea-94ab-fe7eb5fbde57.png">

[2020-02-03 18:47] pixelzoom opened #39 "Add `phetioPrintMissingTandems` to phetmarks for mode=studio"
From https://github.com/phetsims/phet-io/issues/1612#issuecomment-581536461:

Add `phetioPrintMissingTandems` to phetmarks for mode=studio.

[2020-02-03 18:48] pixelzoom commented on #39
First order of business is to unfold this mess in phetmarks.js:

[code]

[2020-02-03 18:52] pixelzoom opened #40 "phetmarks can't be linted"
Discovered while working on #39.  phetmarks repo isn't set up to be linted.  This caused my git pre-commit hook to fail.

Assigning to @ariel-phet to prioritize and assign.

[2020-02-03 19:02] zepumph commented on #40
Should be fixed now. @pixelzoom please test by:

[code]

[2020-02-03 19:03] pixelzoom commented on #39
Relevant code has been cleaned up (see https://github.com/phetsims/phetmarks/commit/88fb79fbcbd98ea4f934143677dd2483090e0b9e) and `phetioPrintMissingTandems` checkbox added for Studio (see https://github.com/phetsims/phetmarks/commit/8d7b6b0d1162078eb784bb22758bcea47b0892c9).

And the lucky reviewer is....

[code]

[2020-02-03 19:09] pixelzoom commented on #40
Verified, thanks! Closing.

[2020-02-03 19:09] #40 closed

[2020-02-17 23:36] zepumph commented on #39
You changes look excellent! Thanks for the conditional improvement too.

[2020-02-17 23:42] #39 closed

[2020-02-17 23:43] zepumph commented on #38
The current reason that most don't match is that we just take the dev name of the wrapper (the wrapper dir name and what is found in `chippier/data/wrappers` and put it into the "modes".
We don't currently have a map from wrapper suite wrappers to index display name. Should we? Should this just be manual as there aren't that many?

Regardless, there are some easy improvements to be made:

- [ ] co

[2020-02-18 01:55] pixelzoom commented on #38
Not clear on why this is assigned back to me.   If you want more suggestion for improvements, compare the screenshots in https://github.com/phetsims/phetmarks/issues/38#issuecomment-581533864.  And there are some specific case mentioned in the first comment of this issue:

[2020-02-18 01:56] pixelzoom commented on #38
I don't know.  It might be preferable to rename the wrapper "Standalone".

[2020-02-27 19:48] zepumph opened #41 "Improve phettest error reporting"

[2020-02-27 20:08] zepumph commented on #41
When I opened this, I didn't realize that `index-server.js` was being run by pm2. And so I didn't realize how easy it is to see the errors from the server side. That said I split out the javascript in the front end so that it can be linted, and wrote a readme. Closing

[2020-02-27 20:08] #41 closed

[2020-03-04 19:13] zepumph commented on #38
The wrapper index is getting an overhaul. This issue should wait until work is complete on that before making updates. We had out kickoff designish meeting today about it.

[2020-04-08 19:15] zepumph opened #42 "Don't cache phettest"
I was wondering if this would make life easier for people who use this a lot. I'm not terribly skilled in Apache config files.

@mattpen what do you think about me adding the `CacheDisable on` directive in the `Directory` tag for phettest?

Does that seem like the right thing to do?

[2020-04-09 02:16] mattpen commented on #42
I've never used this directive, but it sounds like a fine idea to me.  You'll probably want to verify that the mod_cache module is available on phettest.  I've never used that module, so I'm not sure if it is standard or not.

[2020-04-09 19:05] zepumph commented on #42
I added

[code]

to the .htaccess file in the phettest directory. I confirmed by looking in the chrome network tab in dev tools that the `no-store` is coming in the response. I think this is all that is needed. I will let slack know.

[2020-04-09 19:05] #42 closed

[2020-07-24 22:36] zepumph commented on #37
Over in https://github.com/phetsims/tandem/issues/191, we continued to hack at solutions to this problem by adding out own, very duplicated, way of adding radio buttons for phet-io validation to the query parameters selector. Basically we just took the screens selector, and duplicated it entirely for our purposes. Reviewing the changes, I can't see an easy path forward for adding general support f

[2020-08-13 23:00] pixelzoom opened #43 "aqua test 'Test Sims (Load Only)' is fuzzing"
I was hoping to do a quick test of loading all sims using aqua.  That test is doesn't work as advertised - it fuzzes every sim for 10 seconds.

In phetmarks.js:

[code]

So the 'Test Sims (Load Only)' test is documented as "without fuzzing".  But it runs with ?fuzz.

[2020-08-13 23:21] pixelzoom commented on #43
I changed the query parameters for 'Test Sims (Load Only)' to `ea&testDuration=3000&testConcurrentBuilds=1` in the above commit.   No idea if that's correct, but it worked for my use case.

@ariel-phet please assign someone familiar with phetmarks to review (and probably correct).

[2020-08-20 22:43] zepumph commented on #37
I ran into this again today, where I would have liked to create a radio button group for unit tests for `brand` with values either `phet-io` or `phet`, but I didn't even try with the current radio button format.

[2020-08-27 00:43] samreid opened #44 "Radio Button code is copy/pasted"
From https://github.com/phetsims/tandem/issues/198

@zepumph pointed out code I copied and pasted:

[code]

I'm not planning to work on this in the near future, so leaving it unassigned.  Anyone feel free to reprioritize or reassign.

[2020-10-07 19:22] jonathanolson commented on #43
Ahh looks like the query parameters got dropped in https://github.com/phetsims/phetmarks/commit/0a75b97d0adbf954a5707de5dcffc863b6af302b#diff-2088d6bf0e98a3e249674e2ba9506bbe. I'll fix it up.

[2020-10-07 19:24] jonathanolson commented on #43
@pixelzoom can you verify? (Also phetmarks likes to be cached FYI)

[2020-10-12 18:02] pixelzoom commented on #43
Looks good, thanks! Closing.

[2020-10-12 18:02] #43 closed

[2020-10-13 17:12] ariel-phet commented on #37
@jonathanolson could review this issue and comment on what you think it would take to get things in a better place for phetmarks and then assign back to me (ideally with a rough estimate).

[2020-10-19 23:32] jbphet opened #45 "Add a "sound board" to the PhET Testing Server (phettest)"
In a recent sound design meeting, our chief sound designer requested the ability to have a "sound board" for each sim.  A sound board is a single place where one can go to hear all of the sounds associated with a sim without having to search around for them in the sim to figure out how they are triggered and what is there.  Here is a screenshot and a link for an example soundboard with several cli

[2020-10-19 23:33] jbphet commented on #45
@jonathanolson - would you have any objections to me adding functionality like this to phettest?  I'm thinking a single link on the main page, and from there the user would choose the simulation, then get a page similar to what is shown above.

[2020-10-20 21:47] jbphet commented on #45
In the 10/20/2020 sound design meeting we discussed putting this into phetmarks instead of just having it phet-test.  The proposal is to make it somewhat similar to the a11y view.

[2020-10-27 22:01] Ashton-Morris commented on #45
![Screen Shot 2020-10-27 at 11 42 56 AM](https://user-images.githubusercontent.com/34492870/97366857-adb8bf80-186d-11eb-99e6-3065093e863d.png)

Here is a starter mockup

[2020-12-11 20:21] terracoda opened #46 "Phetmarks not working on Safari"
For a couple of days I have been unable to load sims from Phetmarks (on bayes) when using Safari.

I get 2 errors in the console:
![Screen Shot 2020-12-11 at 4 47 03 PM](https://user-images.githubusercontent.com/1902116/101950879-9856e500-3bd0-11eb-8b0f-ee53812351ed.png)

[2020-12-11 20:22] terracoda commented on #46
Here are the errors in text:
- Blocked https://bayes.colorado.edu/dev/phettest/ratio-and-proportion/js/ratio-and-proportion-main.js from asking for credentials because it is a cross-origin request.
- Failed to load resource: the server responded with a status of 401 (Unauthorized)

[2020-12-11 22:04] terracoda commented on #46
Moved to https://github.com/phetsims/aqua/issues/112

[2020-12-11 22:04] #46 closed

[2021-01-12 14:11] samreid opened #47 "Potential caching or stale problem on bayes/phettest"
As described in https://github.com/phetsims/circuit-construction-kit-common/issues/647#issuecomment-758421201, there was a period of time where bayes/phettest seemed to have stale file contents.  phettest reported it as up-to-date, but wasn't in sync with what had been pushed to GitHub.  Clearing local caches didn't help.  The problem went away the next morning for unknown reasons.  More details i

[2021-01-12 19:49] zepumph commented on #47
Part of me feels like we have run into this in Ratio and Proportion, especialy @terracoda reporting this sort of behavior and asking for a dev version. I will keep my eyes out.

[2021-01-12 19:51] zepumph commented on #47
After looking at https://github.com/phetsims/circuit-construction-kit-common/issues/647#issuecomment-758421201, I feel like it is most likely a caching problem. I would most like to tell the server to never cache, and also tell the browser to never cache its files. Though I thought we were doing something like that already.

[2021-01-26 22:43] jbphet commented on #45
We discussed this at the 1/26/2021 sound design meeting, and here are a couple of decisions:
- We want to have all the sims in one place instead of having a page per sim.  This implies a different approach than a11y view, and we will likely have a separate repo where this is pulled together into one set of HTML and JavaScript.
- It would be nice to be able to optionally load the sim into an iframe

[2021-01-27 00:56] jonathanolson commented on #45
Sounds great to me.

[2021-02-25 20:17] jbphet commented on #45
After doing some prototyping and then presenting the prototype in the 2/25/2021 sound design meeting, a few more decisions were made, namely:

- This should exist in its own repo and be accessible through phetmarks.  Part of this process will be to add it to `active-repos`
- Having an update step to rebuild it when needed is okay, but at some point we might want to consider making it dynamic so th

[2021-03-05 17:50] jessegreenberg opened #48 "Automated maintenance release: interactive-description file rename"
Perennial had a file called "interactive-descriptions" that was renamed to "interactive-description" for consistency. However, since phetmarks is versioned and perennial isn't this means that phetmarks is broken for sims with a phetmarks SHA prior to the rename.

In https://github.com/phetsims/a11y-research/issues/157#issuecomment-784479419 and https://github.com/phetsims/a11y-research/issues/157#

[2021-03-05 18:02] jessegreenberg commented on #48
Here is the commit that renamed the file in phetmarks.js: b63edcd221cf883fc8c722361984fa0b96fab77d

[2021-03-05 18:46] jessegreenberg commented on #48
`Maintenance.addNeededPatchesBefore( "phetmarks", "b63edcd221cf883fc8c722361984fa0b96fab77d" )` reported that all release branches need this patch except
- energy-skate-park-basics 1.4
- circuit-construction-kit-dc 1.2
- circuit-construction-kit-dc-virtual-lab 1.2

I expected recent branches like ratio-and-proportion to not need this, but I manually checked and indeed it does. energy-skate-park-ba

[2021-03-05 19:07] jessegreenberg commented on #48
`Maintenance.applyPatches` worked for zero release branches (which is a little surprising). So I checked out the first release in the list (acid-base-solutions 1.2) and saw that phetmarks is working OK. This is because the phetmarks SHA predates usage of perennial/data/accessibility (which was renamed to) perennial/data/interactive-descriptions (which was renamed to) perennial/data/interactive-des

[2021-03-08 17:38] jessegreenberg commented on #48
Hit a build error while running Maintenance.updateDependencies:

[code]

[2021-03-08 17:55] jessegreenberg commented on #48
On a different machine (without local commits for this issue) when I run checkout capacitor-lab-basics 1.7 branch and dependencies.json SHAs (with npm update in sim and chipper) and run `grunt --brands=phet-io` I get the same error.

@samreid or @zepumph would you mind taking a look or recommending how to proceed?

I am going to temporarily remove capacitor-lab-basics 1.7 from maintenance.json and

[2021-03-08 18:00] zepumph commented on #48
I'll take a look.

[2021-03-08 18:13] zepumph commented on #48
The most recent CLB version published for PhET-iO is 1.6. How was phet-io brand added to 1.7 as a supported brand by the MR process? I look at the phet-io deploy status as well as the master phet-io spreadsheet and neither have 1.7 on it? I see 1.7 is not currently published for either brand (last RC was https://github.com/phetsims/QA/issues/588), but dev test on the way? (https://github.com/phets

[2021-03-08 19:10] jessegreenberg commented on #48
Hit another error for graphing-quadratics that looks similar. @zepumph is this the same situation, where graphing-quadratics 1.1 is not expected to have a phet-io brand deploy?

<details>

[code]
</details>

[2021-03-08 19:35] zepumph commented on #48
I don't think so, but even so that has made me wonder why is it failing to begin with. CHIPPER/execute gives bad error handling, without yielding stderr. I'll try to find what is wrong.

[2021-03-08 19:54] jessegreenberg commented on #48
OK, thanks - also just hit for molarity 1.4

<details>

[code]
</details>

Entry in maintenance.json

<details>

[code]
</details>

[2021-03-08 20:40] zepumph commented on #48
It seems to be a problem with jsdoc rendering in these old shas, but it doesn't happen on master.

Here is the actual stack trace from running the phet-io jsdoc generation:

<details>

[code]

</details>

All of these are from Client.js usages of `Array.<XXXX>`, with one in `initialize-globals.js`

I tried running `npm prune && npm update` to see if that was the issue. It didn't change anything. I

[2021-03-08 20:57] jessegreenberg commented on #48
That is correct, these are not being republished.  Sorry, do what for each phet-io brand?

[2021-03-08 20:59] zepumph commented on #48
If the entries you are removing are specific to phet-io brand, but in a branch that is getting a phet brand MR also, then can't we just remove them anyways and the phet MR `updateDependencies`  call will patch the dependencies.json like we need to for all brands?

[2021-03-08 21:08] jessegreenberg commented on #48
Ah, yes - that could work. The only exception so far is molarity 1.4 which only has phet-io brand (entry in https://github.com/phetsims/phetmarks/issues/48#issuecomment-793030565).

[2021-03-08 21:11] jessegreenberg commented on #48
So what I would do is add the removed entries back into maintenance.json, but remove the "phet-io" from the brands array in https://github.com/phetsims/phetmarks/issues/48#issuecomment-793001846 (for example).

[2021-03-08 21:15] jessegreenberg commented on #48
OK, updatedDependencies is complete. Sims that failed were
capacitor-lab-basics 1.7 (phet, phet-io)
graphing-quadratics 1.1 (phet, phet-io)
molarity 1.4 (phet-io)

[2021-03-08 21:33] jessegreenberg commented on #48
I tried https://github.com/phetsims/phetmarks/issues/48#issuecomment-793080280 but I am not able to run updateDependencies for the sims that failed. All I get is `Dependencies updated` in the console.  I think what is happening is that the MR process removed the `changedDependencies` before the failure, so the process thinks everything succeeded. Here is the entry for graphing-quadratics at 10:59

[2021-03-08 21:53] jessegreenberg commented on #48
Removing brand `phet-io` brand and adding back the `changedDependencies` made it work. So I think all that is left for this is to
1) Decide what to do about molarity 1.4 phet-io? That branch is only phet-io brand and could not build so depenencies were not updated.
2) Create a new issue about how updateDependencies removed `changedDependencies` before a failure to update, so the process thought it

[2021-03-08 21:59] zepumph commented on #48
Yes that is excellent. Please assign me on all of them. but (2) (JO)

[2021-03-08 22:24] jessegreenberg commented on #48
OK sounds great! Issues have been opened. Leaving you assigned here for the last part.

[2021-03-08 23:58] zepumph commented on #48
molarity 1.4 has been patched. Anything else here?

[2021-03-09 00:31] jessegreenberg commented on #48
Thats it, thanks @zepumph - closing.

[2021-03-09 00:31] #48 closed

[2021-03-18 16:57] pixelzoom opened #49 ""Compare with reference API" option in phetmarks fails hard"
Attempting to use the new "Compare with reference API" option in phetmarks, like this:

<img width="850" alt="screenshot_922" src="https://user-images.githubusercontent.com/3046552/111665687-96587f80-87d8-11eb-8309-e465f4d1e77e.png">

The URL it generates is:

http://.../studio/?sim=graphing-quadratics&phetioCreateArchetypes&phetioCompareAPI&phetioDebug&phetioElementsDisplay=all&phetioValidation=t

[2021-03-18 17:00] samreid commented on #49
Until that's fixed, you can use it in Standalone:

![image](https://user-images.githubusercontent.com/679486/111666159-1383f480-87d9-11eb-8eb5-ca5234e89354.png)

[2021-03-18 17:19] pixelzoom commented on #49
Zooom'ed briefly with @samreid and @zepumph.  Studio adds an additional `phetioCreateArchetypes` to the URL, so that's the duplicate query parameter.

Given that QueryStringMachine does not allow duplicate query parameters in a URL, it's generally poor form to add ANY query parameter to a URL without first checking whether it already exist in the URL.

[2021-03-19 01:41] zepumph commented on #49
The above commit supports standalone and studio, but not other wrappers. @samreid what do you think?

[2021-03-19 01:43] samreid commented on #49
Was our plan to make it so that `phetioCompareAPIs` works without having to specify `phetioCreateArchetypes`?

[2021-03-19 01:43] zepumph commented on #49
Oh that's right. Thanks.

[2021-03-25 00:47] zepumph commented on #49
The above is minor cleanup about ?phetioCreateArchetypes. query parameters should not be mutated, especially since we have `phetio.createArchetypes` which should be used instead.

[2021-03-25 01:00] zepumph commented on #49
How's that @samreid? I tried to make things as flexible as possible, and updated CT and phetmarks too.

[2021-03-25 01:50] samreid commented on #49
The code changes look good, and I tested phetmarks and it also seemed good.  I tested in natural selection/studio with the query parameter and it worked properly, and I noticed that once CT gets around to testing that again, it will fail due to breaking changes.  Closing.

[2021-03-25 01:50] #49 closed

[2021-04-20 23:48] jbphet commented on #45
An initial version of the soundboard has been created and is available in the `skiffle` repository.  As of this moment, it is functional and looks like this:

![image](https://user-images.githubusercontent.com/3082831/115477144-84676380-a200-11eb-8e70-597232c9b607.png)

I'm going to close this issue and will do further work under issues in the `skiffle` repo.

[2021-04-20 23:48] #45 closed

[2021-05-07 17:41] jonathanolson opened #50 "Maintenance patching for perennial/data/wrappers not existing"
phetmarks is failing out because this doesn't exist in perennial.

[2021-06-03 22:22] jessegreenberg opened #51 "phettest-server validateSimName preventing some sims from pulling"
In order to pull or build, phettest-server requires the repo have a name with all lower-case and hyphens.   @KatieWoe noticed that this was causing the QA repo (which was recently added to active-repos) to fail to pull on phettest.

![image](https://user-images.githubusercontent.com/6396244/120719402-32b92680-c498-11eb-96e1-ee758970771b.png)

Would it be OK to remove this check for pull? Or should

[2021-06-09 20:12] samreid commented on #51
Alternatively, we could rename QA to be lowercase?

[2021-06-10 03:13] jonathanolson commented on #51
I'm curious what the cost of renaming would be. I'm also open to making a distinction between "repos that have a package.json and follow those rules" and "other repos".

Would our issue links break? If it's recommended by others, let's see if renaming is painless?

[2021-06-10 15:52] samreid commented on #51
How about a quick dev-meeting discussion/vote?

[2021-06-10 18:12] samreid commented on #51
Dev meeting: We could try renaming it, and test out the problems.

@chrisklus volunteered to test it and check the links.  If there are too many severe problems, we can revert the naming.

[2021-06-15 20:39] samreid opened #52 "Natural Selection doesn't appear to build on phettest"
Today @KatieWoe pointed out that pressing "Build" on natural-selection on phettest says "kicking off a build" but then it doesn't build.  It also doesn't clean, and the served built file is 3 weeks old.  Could it be a caching problem?  @zepumph or @jonathanolson how can we investigate?

[2021-06-30 18:53] zepumph commented on #52
The Old phettest server would let you kick off a built, and then wait around until it was finished. That meant that a request was held up until completion, perhaps a couple of minutes. This was fine because it was only internal and on its own domain. The new phettest runs through a portion of PhET/CUs network that has a similar route to other, more important requests, and so we weren't able to all

[2021-06-30 19:02] zepumph commented on #52
I tried to refresh perennial, and saw an error on phettest. So I just went onto bayes.

I went to /data/web/htdocs//dev/phettest/ as the README in phetmarks/phettest told me to. In perennial I pulled, cloned, and npm prune/updated. and then was able to build NS successfully. I then "kicked off" the build on phettest and all looked good.

[2021-07-01 20:40] zepumph opened #53 "Phettest can't refresh perennial"
I get this after a minute or so of waiting when I try to press the "Refresh perennial" button on phettest. I think it caused https://github.com/phetsims/phetmarks/issues/52.

[code]

[2021-07-01 20:40] zepumph commented on #52
My main guess as to the root cause of this is that perennial needed refreshing. See https://github.com/phetsims/phetmarks/issues/53. Anything else here @samreid?

[2021-07-01 21:49] zepumph commented on #53
Actually, after looking at the internal logs of the phettest-server on pm2 on bayes, I don't think there is trouble here. It just looks like there is. Instead, I think it is caused from a timeout described by https://github.com/phetsims/phetmarks/issues/52#issuecomment-871648807. Closing

[2021-07-01 21:49] #53 closed

[2021-07-02 03:57] samreid commented on #52
That is a reasonable hypothesis.  @KatieWoe can you please test that phettest builds are working as expected?

[2021-07-02 15:26] KatieWoe commented on #52
Natural Selection at least seems to build properly

[2021-07-02 15:27] samreid commented on #52
Thanks, closing.

[2021-07-02 15:27] #52 closed

[2021-07-02 17:08] chrisklus commented on #51
As posted on Slack, this QA was renamed to qa (https://github.com/phetsims/qa). Please either remove your existing local QA repo and run `clone-missing-repos.sh` or rename it to `qa` and run `git remote set-url origin https://github.com/phetsims/qa.git` in the `qa` directory.

I will close after a couple days if no trouble comes up.

[2021-07-08 18:51] chrisklus commented on #51
I think this issue is good to go, closing.

[2021-07-08 18:51] #51 closed

[2021-07-23 22:02] samreid opened #54 "phetmarks should depend on annual instead of perennial"
From https://github.com/phetsims/scenery-phet/issues/515#issuecomment-885927293, since phetmarks gets checked out with a sim, we should use the versioned repo annual rather than the master repo perennial.  That should solve problems like https://github.com/phetsims/scenery-phet/issues/515#issuecomment-885921345.  On hold until annual is created next week as part of https://github.com/phetsims/chip

[2021-07-31 23:07] samreid commented on #54
Unassigning until https://github.com/phetsims/chipper/issues/1018 is complete.

[2021-08-09 17:06] samreid opened #55 "npm update perennial-alias"
Discovered in https://github.com/phetsims/number-line-distance/issues/64, and also caused by https://github.com/phetsims/chipper/issues/1018 where we introduced perennial-alias, we need to npm update perennial-alias since the server is saying:

[code]

[2021-08-09 17:28] samreid commented on #55
@jessegreenberg and I were shocked to see that npm update on an updated perennial takes so long:

[code]

[2021-08-09 17:48] samreid commented on #55
@jessegreenberg and I applied a band-aid, where perennial-alias is `npm updated` for now, but we weren't sure how to thread that `npm update` properly.  @zepumph or @jonathanolson can you please advise?  We tried something in the commit above, but it exited after first success, and didn't let the other finish (we think).  Also, why is `npm update` taking 1m36s on an up-to-date repo?

[2021-08-11 14:19] zepumph commented on #55
I'll look into phettest build support next.

[2021-08-11 14:31] jonathanolson commented on #55
Maybe clear the npm cache and see if it improves?

[2021-08-11 14:36] zepumph commented on #55
Great idea! I confirmed this is a cache problem:

[code]
@jonathanolson can you confirm that I won't be causing any downstream problems by "nuking" our npm cache on bayes?

[2021-08-11 14:47] jonathanolson commented on #55
Nuking the cache has been done once or twice on bayes when it was slow, seemed to help a bit. Confirmed not a problem.

[2021-08-11 17:04] zepumph opened #56 "How to phettest locally (for testing)"
I discovered while working on https://github.com/phetsims/phetmarks/issues/55 that it is quite challenging to debug phettest and its server from bayes. It is much nicer to have a local way of testing this. I'll explain how I was able to set it up locally, and then this issue will be for optimizing this further, and making sure to document it.

Here is a patch that outlines a fair number of these s

[2021-08-11 17:10] zepumph commented on #55
After the above commit, we are updating perennial-alias, this was only tested locally, I'll update bayes now.

[2021-08-11 17:13] zepumph commented on #55
I pulled phetmarks on bayes, and then ran `pm2 restart phettest-server`. I then opened phettest in a browser and refreshed perennial, here were the logs:

[code]

While this clones missing repos twice, I don't think it is a big deal. I think we are ready to close. Over to @samreid. Anything else?

[2021-08-11 17:14] zepumph commented on #55
Note https://github.com/phetsims/phetmarks/issues/56 for updating doc like we talked about.

[2021-08-11 17:37] zepumph commented on #56
Committed above. @samreid can you review in whatever way you would like. From going through the instructions and trying to run it locally (more work), to just glancing through the doc (less work). Whatever you'd like is good with me. Feel free to close.

[2021-08-11 21:19] samreid commented on #55
I reviewed the commit and it seemed reasonable, thanks!  Closing.

[2021-08-11 21:19] #55 closed

[2021-09-02 16:52] zepumph commented on #56
This step is not needed on the server, because of htaccess directives. It is mostly just a hack for testing locally.

I remember trying to accomplish what you are recommending when working on phettest last time (I believe when moving it to bayes), but giving up. I'm not currently in a position to devote more resources to phettest, and feel like it is nice for the index page to be at the root of th

[2021-09-02 17:12] samreid commented on #56
Sounds good, let's close.  @jonathanolson and I may take it for a test drive as part of https://github.com/phetsims/chipper/issues/1073

[2021-09-02 17:12] #56 closed

[2021-09-04 15:29] samreid commented on #56
I tested this in https://github.com/phetsims/chipper/issues/1073 and it worked great.  I got tricked for a while because I forgot a slash after the port.  I'll add a note about that to protect me next time.  Here is my patch that worked will (along with moving index.html).

<details>

[code]

</details>

[2021-09-10 21:57] samreid opened #57 "branch: top-level-phettest"
To support https://github.com/phetsims/chipper/issues/1073.

[2021-09-11 19:37] zepumph commented on #57
And it was mainly used for as a transistion commit for https://github.com/phetsims/special-ops/issues/209. It has been deleted.

[2021-09-11 19:37] #57 closed

[2021-09-28 20:37] zepumph commented on #9
Moving to phettest in its own repo

[2021-10-13 21:32] pixelzoom opened #58 "phetmarks should sort its Repositories list."
phetmarks provides a **Respositories** list that is alphabetically sorted. But it doesn't do any sorting, or call any common function that does the sorting.  Instead it assumes that perennial/data/active-repos is sorted.   As was discovered (and fixed) in https://github.com/phetsims/perennial/commit/1a1a03846040fd06d0af1b262b1e1bc5c0a99152 and https://github.com/phetsims/perennial/commit/be1207c5e

[2021-10-19 18:17] #58 closed, assigned to pixelzoom

[2022-04-01 17:13] zepumph opened #59 "add voicing query parameters to phetmarks"
We have a package flag for voicing, but not a data list, so I'm not sure how hard this will be.

[2022-04-01 20:30] zepumph commented on #59
JK, there is a voicing list. I'll use that.

[2022-08-01 22:19] #59 closed